body {
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background-color: #203748;
}


.row {
	margin-left: -20px;
 *zoom: 1;
}
.row:before, .row:after {
	display: table;
	content: "";
}
.row:after {
	clear: both;
}
[class*="span"] {
 float: left;
 min-height: 1px;
 margin-left: 20px;
}
.container {
	width: 940px;
}

.container {
	margin-right: auto;
	margin-left: auto;
 *zoom: 1;
}
.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0;
}
.container:after {
	clear: both;
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
 *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.container-fluid:after {
	clear: both;
}

h1, h2, h3 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: normal;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

h1, h2, h3 {
	line-height: 40px;
}
h1 {
	font-size: 38.5px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}
.nav {
	margin-left: 0;
	margin-bottom: 20px;
	list-style: none;
}
.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f04949;
 *zoom: 1;
}
.navbar .nav.pull-right {
	float: right;
	margin-right: 0;
}
.navbar .nav > li {
	float: left;
	margin: 22px 30px;
}
.navbar .nav > li > a {
	float: none;
	padding: 10px 15px 10px;
	color: #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 18px;
	border-radius: 20px;
	
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > li > a.active {
	background-color: #203748;
	color: #fff;
	text-decoration: none;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

 .span5 {
 width: 470px;
}






a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
.profile, .skills, .work, .resume {
	padding:30px 0;
}
.profile h2, .skills h2, .work h2, .resume h2 {
	font-weight:normal;
	color: #39D084;
}
/* profile html css start */
	.profile h1 {
	color:#39d084;
	font-weight: normal;
}
.profile h3 {
	color:#fff;
	font-weight: normal;
}
.profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
.profile .container .span5 {
	padding:40px 0;
}
a.hire-me {
	display: inline-block;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	
	border-radius: 40px;
}
a.hire-me:hover {
	text-decoration:none;
	background:#a20cdd;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}

/* profile html css stop */



/* skills html css start */
.skills .span3 {
	width:235px;
	overflow: hidden;
}
.skills .span5 {
	text-align:left;
	padding:47px 0;
}
.skills .sql, .skills .js, .skills .re, .skills .html, .skills .css {
	padding:25px;
	width:100px;
	height:100px;
	
	border-radius: 50%;
	text-align:center;
	border:8px solid #203748;
	float:right;	
}

.skills .html {
	background:#f04949;
}
.skills .css {
	background:#39d084;
}
.skills .js {
	background:#30a5dc;
}
.skills .re {
	background:#ee742b;
}
.skills .sql {
	background:#ff0000;
}

.skills .sql:hover, .skills, .js:hover, .skills .re:hover, .skills .html:hover, .skills .css:hover {
	border:8px solid #fff;
}
.skills .sql h3, .js h3, .skills .re h3, .skills .html h3, .skills .css h3 {
	color:#fff;
	font-size: 3.4em;
	font-weight: normal;
	line-height: 80px;
}
.skills .sql h3, .js h3, .html h3, .skills .css h3 {
	font-size: 2.2em;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
.skills .span5 h3 {
	font-size: 18.5px;
	line-height: 15px;
	font-weight:normal;
	text-transform:uppercase;
}
.skills .span5 h3 span {
	float:right;
}
.html2 {
	width:95%;
	background:#f04949;
	
}
.css2 {
	width:85%;
	background:#39d084;
	
}
.js2 {
	width:90%;
	background:#30a5dc;
	
}
.re2 {
	width:60%;
	background:#ee742b;
	
}
.sql2 {
	width:40%;
	background:#f34949;
	
}


/* skills html css stop */



/* work html css start */
ul.work-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
}

ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/eye.png) 50% 50% no-repeat;
	background-color: #f04949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

ul.work-images li img:hover {
	opacity:0.1;
}
/* work html css start */


/*resume html css start */
.resume h3 {
	margin:70px 0;
}
.resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
	position: fixed;
	width: 100%;
	bottom:0;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}